<form action="/students" method="post">
  <label for="new_student">Student Form</label><br>
  <input type="text" name="first_name"><br>
  <input type="text" name="last_name"><br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" name="new_student" value="Submit Student">
</form>
